<div class="row">
  <br>
  <div class="large-6 columns">
  	<div class="panel">
  	<h2>Enter your date of birth:</h2>
 		</div>
 	</div>

	<div class="large-6 columns">
  	<br>
  	<%= form_for :post, url: 'calculate_age' do |f| %>
		  <p>
		    <%= f.text_field :date_of_birth, class: 'datepicker' %>
		  </p>
		  <p>
		    <%= f.submit "Get Extra Birthdays!" %>
		  </p>
		<% end %>
  </div>
</div>
<%= flash[:notice] %>