<footer>
  <p>
    Created by: <%= link_to 'Toby Downton', 'https://www.tobydownton.com', :target => "_blank" %>
    Tweets: <%= link_to 'Here', 'http://twitter.com/tobydownton', :target => "_blank" %>
  </p>
</footer>